* {
  padding: 0px;
  margin: 0px;
  font-family: "Raleway", sans-serif;
}

.needs-validation {
  background-color: rgba(22, 22, 24, 0.739);
  margin: 2px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.card input {
  height: 30px;
  width: 250px;
}

#e1 {
  text-align: center;
  padding-bottom: 0%;
}
#e2 {
  text-align: center;
  padding-bottom: 0%;
}
.block {
  width: 100%;
  height: 98px;
}
.log_block {
  width: 100%;
  height: 231px;
}
#btndel {
  color: rgb(231, 75, 75);
  cursor: pointer;
}

#btnedit {
  color: rgb(0, 174, 255);
  cursor: pointer;
}

.todoForm {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 2px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  justify-content: space-between;
}

/* .todoList p {
  text-align: left;
  position: relative;
  list-style: none;
  margin-bottom: 8px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 10px 15px;
  cursor: default;
  word-wrap: break-word;
} */

.todoList td .icon {
  cursor: pointer;

  background-color: rgb(0, 57, 148);
  border-radius: 5px;

  color: rgb(255, 255, 255);
  padding: 5px;
  height: auto;
  width: auto;
  position: relative;
}
.todoList td :hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 57, 148);
}
#summaryId {
  border-radius: 5px;

  align-content: center;
}
#enterToDo,
#addBtn {
  border-radius: 20px;
}
#tableToDo {
  border-top: white;
  border-bottom: white;
  border-right: white;
  border-left: white;
  background-color: rgba(0, 191, 255, 0.1);
}
#noteText {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  display: contents;
}
#note {
  /* box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px; */
  border: 0;
  /* cursor: pointer; */
  background-color: rgb(47, 50, 53);
  /* border-radius: 8px; */
  border: none;
}

#textAreaForm {
  /* remove below two lines to get normal box */

  background-color: #0dcaf0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#formBtn {
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  size: 25%;
}
#saveBtn {
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 3px;
}
#closeBtn {
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 3px;
}
.notesList td .icon {
  cursor: pointer;

  border-radius: 5px;

  color: #0dcaf0;
  padding: 5px;
  height: auto;
  width: auto;
  position: relative;
}
#tdId {
  max-width: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
