* {
  padding: 0px;
  margin: 0px;
  font-family: "Raleway", sans-serif;
}

.needs-validation {
  background-color: rgba(22, 22, 24, 0.739);
  margin: 2px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.card input {
  height: 30px;
  width: 250px;
}

#e1 {
  text-align: center;
  padding-bottom: 0%;
}
#e2 {
  text-align: center;
  padding-bottom: 0%;
}
.block {
  width: 100%;
  height: 98px;
}
.log_block {
  width: 100%;
  height: 231px;
}
#btndel {
  color: rgb(231, 75, 75);
  cursor: pointer;
}

#btnedit {
  color: rgb(0, 174, 255);
  cursor: pointer;
}

.todoForm {
  background-color: rgba(22, 22, 24, 0.739);
  margin: 2px;
  margin-bottom: 20px;
  border-radius: 5px;
  justify-content: space-between;
}

/* .todoList p {
  text-align: left;
  position: relative;
  list-style: none;
  margin-bottom: 8px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 10px 15px;
  cursor: default;
  word-wrap: break-word;
} */

.todoList td .icon {
  cursor: pointer;

  position: relative;
}
