* {
  padding: 0px;
  margin: 0px;
}

.needs-validation,
.login_form {
  background-color: rgba(47, 45, 45, 0.6);
  margin: 2px;
  border-radius: 5px;
}

.card input {
  height: 30px;
  width: 250px;
}
